.cards{
  margin:30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:40px;
}
.bids{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}
body{
  background-color: #edf6f9;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
}
body .login
{
  background-image: url('./assests/vector.png');
  width: 100%;
  height:100vh;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
}
.color-container{
  width:20px;
  height:20px; 
  border:1px solid grey; 
  display:flex;
  border-radius: 3px;
}
.col-name{
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}
.col-item{
  text-align: center;
}
.grid-info{
  display: grid; grid-template-columns: repeat(3, 1fr);
  padding: 5px 0px;
  margin: 30px 0;
  border:1px solid #b4d3ce;
  border-radius: 15px;
}
.grid-create{
  display: grid; grid-template-columns: repeat(4, 1fr);
  padding: 5px 0px;
  margin: 30px 0;
  border:1px solid #b4d3ce;
  border-radius: 15px;
}
.description{
  margin: 10px 50px 0 0;
}
.sign-up{
 margin:20px 0;
 display:flex;
 justify-content:center

}
.reminder{
  display:flex;
  justify-content:flex-end;
  color:#219ebc;
  font-size: 14px;
}
.dashboard-header{
  display: flex;
  align-items: center;
  margin:0 50px;
  justify-content: space-between;
}

.color-p{
  margin-left: 55px;
  font-weight: 600;
  font-size: 18px;
}
.making-detail{
  display: flex;
  justify-content: space-between;
  margin: 5px;
}
.all-colors{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 200px;
  margin-top: 10px;
}
@media only screen and (max-width: 600px) {
  h1{
    font-size: 20px !important;
    display: block;
  }
  .filter-form{
    flex-direction: column;
  }
}
@media only screen and (max-width: 1200px) {
.dashboard-header{
  flex-direction: column;
}

}
.filter-form{
  display: flex;
  gap: 10px;
  margin:10;
  width: auto;
}
.filter{
  width: 200px;
  height: 50px;
  background-color: #fff;
}
