.headerNav {
  display: flex;
  justify-content: space-between;
  padding:10px;
  font-size: calc(10px + 2vmin);
}
.sub-header{
  display: flex;
  gap:20px
}
.headerNav a{
  color: #61dafb;
}
.boxForm{
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root{
  height: 60px;
}
.cards{
  margin:30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:40px;
}
body{
  background-color: aliceblue;
}
.css-1t6e9jv-MuiCardActions-root{
  justify-content: space-between;
  display: flex;
}