.headerNav {
  display: flex;
  justify-content: space-between;
  padding:10px;
  font-size: calc(10px + 2vmin);
}
.headerNav a{
  color: #61dafb;
}
.boxForm{
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root{
  height: 60px;
}
.cards{
  margin-top: 30px;
  display: flex;
  justify-content: center;

}
body{
  background-color: aliceblue;
}